<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Projetos
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      A Rosa de Ouro
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      In 8 Home
    </ion-card-header>
  </ion-card>


  <!-- Real floating action button, fixed. It will not scroll with the content -->
  <ion-fab bottom right edge>
    <button ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>