<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>
      Login
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating>
                        Email
                    </ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating>
                        Senha
                    </ion-label>
                    <ion-input type="password"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <button ion-button full color="primary">
                        Login
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <button ion-button full color="primary" class="btnLogin">
                            Login com FACEBOOK
                    </button>
                </ion-col>

                <ion-col col-6>
                    <button ion-button full color="primary" class="btnLogin">
                            Login com GOOGLE
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-row>
            <ion-col>
                <a (click)="doRegister()">Registrar-se</a>
            </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>
