<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Tarefas" tabIcon="ios-clipboard"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Projetos" tabIcon="ios-folder-open"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Notificações" tabIcon="ios-notifications"></ion-tab>
</ion-tabs>
