<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Notificações
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>@cassio adcionou uma tarefa para @alisson</ion-list-header>
    <ion-item>
      <ion-icon name="ios-information-circle" item-left></ion-icon>
        Adicionar menu ao nitrosite
    </ion-item>
    <ion-list-header>@cassio adcionou uma tarefa para @alisson</ion-list-header>
    <ion-item>
      <ion-icon name="ios-information-circle" item-left></ion-icon>
        Adicionar menu ao nitrosite
    </ion-item>
  </ion-list>
</ion-content>
