<ion-header>
  <ion-navbar color="primary">
    <ion-title>TAREFAS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Adicionar titulo ao banner!
    </ion-card-header>

    <ion-card-content>
      O banner da home está sem titulo favor adicionar!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Remover Ícone
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore soluta est officia quaerat nemo, numquam dolorem beatae asperiores dicta aliquam rem sit enim nostrum porro natus qui, consequatur exercitationem cumque?
    </ion-card-content>
  </ion-card>


  <!-- Real floating action button, fixed. It will not scroll with the content -->
  <ion-fab bottom right edge>
    <button ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
  </ion-fab>



</ion-content>
