<!--
  Generated template for the Registrar page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrar-se</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>
      Registrar-se
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating>
                        Email
                    </ion-label>
                    <ion-input required name="email" [(ngModel)]="credencial.email"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating>
                        Senha
                    </ion-label>
                    <ion-input name="senha" #senha required type="password" [(ngModel)]="credencial.senha"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <button ion-button full color="primary" (click)="doRegister()">
                        Registrar
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>

      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>

